html, body {
    background: #888888;
    height: 100%;
    width: 100%;
}

#lights { margin: 10px }

.light {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.2px solid transparent;
    border-top: 0 solid transparent;
    position: absolute;
    height: 0;
    width: 0;
}

.light::before {
    content: attr(data-name);
    font-size: 2em;
    left: -10px;
    position: absolute;
    top: 75px;
}

.light.rotated { transform: rotate(180deg) }

#controls {
    padding: 30px 20px;
}

